body {
    background-image: url("../images/nyt.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
}
.jumbotron p {
    font-size:25px;
}
.card{
    padding:10px;
    background-color: blue;
}

.card {
    padding: 15px;
    background: #dbdfe5;
    margin-bottom: 15px;
    opacity: 0.95;
}
.nav-bg {
    background-color: cornflowerblue;
}
.nav-foot {
    background-color: cornflowerblue;
}
.col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

.main-text {
    margin-top: 10px;
}
.navbar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}



footer {
    color: cornflowerblue;
    opacity: 0.9;
}
